In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('./dest/20230407_H23.extendedFrags_barcode.csv', header=None, index_col=0)

In [7]:
df

                                                        1
0
0       ACAGTGTCACTGTCAGTGTGTGAGTGTGAGAGCAGAGCTACGCACT...
1                          ACTCACTCTGTGACTGACTGAGTCTCAGTC
2       AGTGTGTGTGTCTGTGTGAGTGTGAGAGACAGCAGAGCTACGCACT...
3                          TCTGTCAGTCTCAGTGTGACTGACAGTGTG
4                          TCTCAGTCACAGTGTGTCTGACACTGAGTG
...                                                   ...
232206  TCACAGTGACTCAGTGTCTCACTCAGACAGAGCAGAGCTACGCACT...
232207  TGACACTGACTGACTGTGAGTGTGTGTGTGAGCAGAGCTACGCACT...
232208  AGACACTCTGACAGTGTGTCTGTCTGACACAGCAGAGCTACGCACT...
232209                     AGTCAGTGAGTGCGACTGTGTGTGTCAGTG
232210  AGTCAGTGAGTGCGACTGTGTGTGTCAGTGAGCAGAGCTACGCACT...

[232211 rows x 1 columns]

In [11]:
df[1].is_unique

True